
.About {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#About{ 
    margin: 10% auto 0%
}

.about-content {
    max-width: 60rem;
    z-index: 99;
}

.about-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.12rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;

}

.about-content p {
    position: relative;
    font-size: 1.8rem;
    margin: 2rem 0 4rem;
}

.about-content p span {
    color: var(--third-color)
}

.main-container {
    display: flex;
}

.profile-image {
    position: relative;
    display: inline-block;
}

.profile-image img {
    width: auto;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    position: relative;
    z-index: 1;
}

.forward-circle-spin {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    z-index: 0;
    animation: aboutSpinner linear infinite;
}

.circle-spin-blue {
    width: 120%;
    height: 80%;
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation-duration: 8s;
}

.circle-spin-green {
    width: 130%;
    height: 90%;
    border-left: .2rem solid var(--third-color);
    border-right: .2rem solid var(--third-color);
    animation-duration: 3s;
    animation-direction: reverse;
}

.circle-spin-yellow {
    width: 110%;
    height: 75%;
    border-left: .2rem solid var(--yellow-highlight); 
    border-right: .2rem solid var(--yellow-highlight); 
    animation-duration: 5s;
    animation-direction: reverse;
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@media(max-width: 1550px){ 
    .profile-image {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-left: 20px;
    }

    .profile-image img {
        width: 80%; 
        left: 10%;
    }

    .forward-circle-spin {
        top: 16%;
        left: 50%;
        width: 300px; 
        height: 70%;
    }

}

@media (max-width: 430px) {
  
    .About {
        flex-direction: column;
        align-items: center;
    }

    .about-content h1 {
        font-size: 3rem; 
    }

    .about-content p {
        font-size: 1.5rem;
        text-align: center;
    }

    .profile-image {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 20px;
    }

    .profile-image img {
        width: 80%; 
    }

    .forward-circle-spin {
        top: 50%;
        left: 50%;
        width: 300px; 
        height: 50%;
    }
}