


#Experience {
  padding: 20px;
  color: var(--text-color);
  min-height: 90vh;
  padding: 10rem 9% 2rem;
}

#Experience h1 {
  font-size: 5.12rem;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.experience-container {
  display: flex;
  margin-top: 75px;
  flex-wrap: wrap; 
}

.sidebar {
  width: 200px;
  border-radius: 5%;
  background-color: rgba(34, 34, 34, 0.15); 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar button {
  background-color: rgba(74, 74, 74, 0.1); 
  border-radius: 5%;
  color: var(--text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.sidebar button:hover {
  background-color: var(--text-color); 
  color: #444;
}

.sidebar button:active {
  background-color: var(--third-color); 
  color: #666;
  
}

.work-stack{
  margin-top: 5%;
}

.content {
  flex: 1;
  padding: 30px;
  font-size: large;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in;
}

.fade-out {
  animation: fadeOut 0.4s ease-out;
}



.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none; 
  padding: 0; 
  justify-content: space-evenly;
  color: var(--yellow-highlight);
}

@media (max-width: 430px) {
  #Experience {
    padding: 5rem 5% 2rem;
    text-align: center; 
  }

  .experience-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%; 
    padding: 10px;
  }

  .content {
    padding: 20px;
    font-size: medium;
   
  }


}