.icon-navbar {
    position: fixed;



    /* The Css that helps it stay in the bottom of the page  */
    bottom: 0;
    left: 0;

    /* ******************************************** */
    width: 80px; 
    height: auto;
 
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background: var(--bg-color);
}

.icon-navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
}

.icon-navbar li {
    margin: 20px 0;
}

.icon-navbar a {
    color: var(--third-color);
    font-size: 2rem;
}

.icon-navbar a:hover {
    color: #ddd;
}

@media ( max-width: 430px) {
    .icon-navbar {
        display: none;
    }
}
