@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.main-content {
  padding-left: 100px; /* Adjust based on navbar width */
  padding-bottom: 120px; /* Add bottom padding to avoid overlap */
}

/* Make the app mobile friendly */
@media (max-width: 768px) {
  .main-content {
      padding-left: 80px; /* Adjust based on navbar width */
      padding-bottom: 100px; /* Adjust bottom padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .main-content {
      padding-left: 60px; /* Adjust based on navbar width */
      padding-bottom: 80px; /* Adjust bottom padding for very small screens */
  }
}
